* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
}

.header {
  background-color: #eff1f3;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
  width: auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.logo-wrapper {
  border: 1px solid black;
  width: 180px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-wrapper .logo {
  height: 80px;
}
